<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Home - Feito com Bootstrap</title>
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/datepicker.css" rel="stylesheet">
		<link rel="stylesheet" href="css/bootstrap.calendar.css" type="text/css" />
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!-- Tema padrao-->
		<link rel="stylesheet" href="css/bootstrap-theme.css">
		
		<script src="js/jquery.js"></script>
		<script type="text/javascript" src="js/bootstrap.calendar.js" ></script>
    <script type="text/javascript" src="js/calendar-source.js"></script>
	</head>
	<body>  
		<div class="container">
			<div class="row">
				<div class="span4" id="calendar"></div>
			</div>
		</div> <!-- /container -->
	</body>
</html>
